* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Shippori Antique', sans-serif;
    font-size: 0.7rem;

    width: 100%;
    min-height: 100vh;
    background-color: rgb(223, 223, 223);
}

h1 {
    font-size: 1.3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 320px;
    height: 450px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;

    transition: transform 3s cubic-bezier(.03, .98, .52, 1);
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.codeWrapper {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 65%;
    width: 100%;

    background-color: #0e1112;
}

.code {
    font-family: 'Consolas', sans-serif;
    font-size: 0.8rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 1.5rem; 
    color: white;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    width: 100%;
}

.content {
    display: flex;
    height: 100%;
    margin: 1rem;
}

.content-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-basis: 30%;
}

.content-left {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

.small-text {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0.3rem;
    font-size: 0.5rem;
}

.content-right img {
    width: 4.8rem;
}

.keyword {
    color: #55b5db;
}

.type {
    color: #9fca56;
}

.reserved {
    color: #e6cd69;
}

.number {
    color: #ec4f57;
}